.action-items
    display: flex
    position: fixed
    bottom: sizing-4XL
    left: 50%
    transform: translateX(-50%)

    &--disabled
        pointer-events: none

    +below("sm")
        bottom: sizing-XL
        padding-left: sizing-MD

    &__btn
        margin-inline-end: sizing-MD

        +below("sm")
            margin-inline-end: sizing-XL

        &:last-of-type
            margin-inline-end: 0

        &:hover
            .bubble__emoji
                background: color-brand-red

body.failure
    .action-items__btn:hover
        .bubble__emoji
            background: color-brand-yellow
