.counter
    align-items: center
    background: color-white
    border-radius: border-radius-MD
    display: inline-flex
    font-size: font-size-2XL
    height: sizing-4XL
    justify-content: center
    left: 50%
    position: fixed
    top: sizing-2XL
    transform: translateX(-50%)
    width: @height

    +below("sm")
        left: unset
        margin-right: sizing-3XL
        right: sizing-2XL
        transform: translateX(-100%)
