.counter
    display: inline-flex
    position: fixed
    top: sizing-XL
    left: 50%
    transform: translateX(-50%)
    font-size: font-size-2XL
    background: color-white
    border-radius: border-radius-MD
    height: sizing-4XL
    width: @height
    justify-content: center
    align-items: center
