.letter-break
    display: inline-block
    width: sizing-XL

.letter-input
    height: sizing-6XL
    width: sizing-4XL
    background: color-black-transparent
    margin-bottom: sizing-LG
    margin-left: sizing-SM
    border-radius: border-radius-SM
    text-align: center
    font-size: font-size-3XL
    text-transform: uppercase
